<html>
    <body>
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-center vh-100">
              <div>
                <h1></h1>
                <p class="card-text fs-3 custom-text" style="font: size 50px!important;color: white;">
                  We are a team of talented designers making websites
                </p>
                <button type="button" class="btn btn-primary custom-button mt-4">GET STARTED</button>
              </div>
            </div>
          </div>
    </body>
</html>